@font-face {
    src: url(fonts/MONARCHI.TTF);
    font-family: 'henrys_text';
  }
  @font-face {

  }
  .entryfield{

  }
  

  #container{


  }
  #description{
    background-color: whitesmoke;
    align-self: center;
    align-items: center;
    justify-content: center;
  }

  #submit{
  }

   
  #title{
  }
  
  h1{

  }
  
  body {

  }
  
  #submit {

  }
  
  #bighen {
      width: 10%;
      height: 10%;
  }
  
  #quillInfo {
   
  }
  