@font-face {
  src: url(fonts/MONARCHI.TTF);
  font-family: 'henrys_text';
}
@font-face {
    src: url(fonts/otherfont.ttf);
    font-family: 'henrys_messages';
}

li{
    background-image: url(images/texture4note.png);
}

#title, #description{
    display: block;
    padding: 10px 20px;
    background-color: beige;
}

h1{
  font-family: henrys_text;
  font-weight: 100;
  font-size: 6.5rem;
}

body {
    font-family: henrys_messages;
}

#submit {
    background-image: url(images/quill.png);
}
